.Cards_projet{
    display: flex;
    justify-content: center;
}

.card{
    width: 240px;
    margin: 30px;
}

.Background {
    background: radial-gradient(ellipse at top, #05a8aa, transparent), radial-gradient(ellipse at bottom, #b8d5b8, transparent); 
    background-size: 100%; height: 85vh;
}